/* postcss-preset-env stage 1 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバーを非表示にするスタイル */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
} 